<div class="user-list-container">
    <mat-list>
      <mat-list-item *ngFor="let user of users">
        <div class="flex-container">
            <div class="user-info" (click)="onUserClick(user)">
              <div>
                <p>{{ user.username }}</p>
              </div>
            </div>
            <div>
                <ng-container
                    *ngTemplateOutlet="actionTemplate; context: { $implicit: user }"
                ></ng-container>
            </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  