.user-list-container {
  // width: 300px;
}
.flex-container {
  display: flex;

}
mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

button {
  color: #e74c3c;
}
